// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}


.container {
  h1 {
    font-size: 50px;
    width : 50%
  }
}


a {
  color: grey;
  &:hover {
    color: black;
  }
}

.btn  {
  padding: 10px;
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
}
